<!doctype html>
<html>
  <head>
    <title>{% if title %}{{ title }} - {% endif %}Flaskdown</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-4 border-right">
          {% for path in paths %}
            <h2 class="text-uppercase text-truncate">{{ path['foldername'] }}</h2>
            <small><pre class="text-truncate">{{ path['path'] }}</pre></small>
            <ul class="nav nav-pills flex-column mb-3">
              {% for file in path['files'] %}
              <li class="nav-item w-100">
                <a class="nav-link text-truncate{% if markdown_file == file['name'] %} active{% else %} {% endif %}" href="{{ url_for('markdown', path_id=file['path_id'], markdown_file=file['name']) }}">{{ file['name'] }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endfor %}
          {% if not paths %}
            <h2>No paths configured</h2>
            <p>You might have to create a <code>/instance/config.py</code> configuration file, see <code>/config.py</code>.</p>
          {% endif %}
        </div>
        <div class="col-8">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
